
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:ital,wght@0,100;0,500;1,100&family=Roboto:ital,wght@0,400;1,300&family=Ysabeau+SC:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    cursor: url('./hiclipart.com.png'),auto;
    
}

#submit{
    border-color: wheat;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
#submit:hover{
    border-color: wheat;
    color:palevioletred ;
    font-weight: bolder;
}
#input{
    color: wheat;
    font-size: 20px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight:bolder;
    letter-spacing: 5px;
}

.main{
    background-color: palevioletred;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 10px rgb(219, 91, 134);
}
#result{
    color:wheat ;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight:bolder;
    font-size: 30px;
    place-items: center;
}

#temp, #temp_diff{
    padding: 7px;
    border: 3px solid wheat;
  border-radius: 10px;
}